<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Send LLRP Message"
            visible="true"
            id="org.fosstrak.llrp.commander.actionSet">
         <action
               class="org.fosstrak.llrp.commander.actions.SendAction"
               icon="icons/Send_LLRP.gif"
               id="org.fosstrak.llrp.commander.actions.SendMessageAction"
               label="&amp;Send LLRP Message"
               toolbarPath="/Normal"
               tooltip="Sending the current message">
         </action>
      </actionSet>
   </extension>
   
 	<extension point="org.eclipse.core.contenttype.contentTypes">
 		<content-type base-type="org.eclipse.core.runtime.xml"
                 file-extensions="xml"
                 id="org.fosstrak.llrp.commander.contenttype.llrpmessage"
                 name="LLRP XML Message File"
                 priority="normal">
			<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         		<parameter name="element" value="LLRP"></parameter>
      		</describer>
   		</content-type>
	</extension>

   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.fosstrak.llrp.commander.editors.LLRPEditor"
            default="true"
            extensions="xml"
            icon="icons/Message.gif"
            id="org.fosstrak.llrp.commander.editors.LLRPEditor"
            name="LLRP Message Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.fosstrak.llrp.commander"
            name="LLRP Commander Category">
      </category>
      <view
            category="org.fosstrak.llrp.commander"
            class="org.fosstrak.llrp.commander.views.MessageboxView"
            icon="icons/Repository.gif"
            id="org.fosstrak.llrp.commander.views.MessageboxView"
            name="LLRP Messagebox">
      </view>
      <view
            category="org.fosstrak.llrp.commander"
            class="org.fosstrak.llrp.commander.views.ReaderExplorerView"
            icon="icons/reader.gif"
            id="org.fosstrak.llrp.commander.views.ReaderExplorerView"
            name="Reader Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.fosstrak.llrp.commander.views.MessageboxView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
         <viewShortcut id="org.fosstrak.llrp.commander.views.MessageboxView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.fosstrak.llrp.commander.views.ReaderExplorerView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.fosstrak.llrp.commander.preferences.LLRPCommanderPreferencePage"
            id="org.fosstrak.llrp.commander.preferences.LLRPCommanderPreferencePage"
            name="LLRP Commander">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fosstrak.llrp.commander.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#TextEditorContext"
            id="org.fosstrak.llrp.commander.editors.LLRPEditor">
         <action
               class="org.fosstrak.llrp.commander.actions.SendMessageAction"
               icon="icons/Send_LLRP.gif"
               id="org.fosstrak.llrp.commander.actions.SendMessageAction"
               label="Send LLRP Message"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.fosstrak.llrp.commander.PerspectiveFactory"
            icon="icons/adapter.gif"
            id="org.fosstrak.llrp.commander.perspective"
            name="LLRP Commander">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="llrp"
            name="LLRP">
      </category>
      <wizard
            category="llrp"
            class="org.fosstrak.llrp.commander.wizards.NewLLRPMessageWizard"
            icon="icons/Message.gif"
            id="org.fosstrak.llrp.commander.wizards.NewLLRPMessageWizard"
            name="LLRP Message">
      </wizard>
   </extension> 

   
</plugin>
